.board {
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: black;
  text-align: left;
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  color: whitesmoke;
  text-align: center;
}

